:root {
  --primary-color: #ff5b2e;

  /* body variable */
  --bs-bgr-color: #fffaf5;
  --bs-text-color: #5e6085;
  --bs-line-height: 1.5;
  --bs-font-size: 1.6rem;
  --bs-font-weight: 400;
  --bs-font-family: "Poppins", sans-serif;

  /* text color variable  */
  --heading-text-color: #000958;
  --title-text-color: #000958;
  --btn-link-text-color: #000958;
  --neutral-text-color: #48496a;
  --second-text-color: #656689;
  --btn-text-color: #fefefe;

  /* bgr color variable  */
  --bgr-color: #000958;
  --neutral-text-color: #48496a;
  --bgr-second-color: #fff6ed;

  --bs-gutter-x: 4rem;
  --bs-gutter-y: 5rem;
  --container-width: calc(min(1170px, 100% - (var(--bs-gutter-y) * 2)));

  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans";
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));

  --bs-blue: #0d6efd;
  --bs-purple: #6610f2;
  --bs-pink: #d63384;
  --bs-green: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-error: #a31515;
  --white-color: #fff;
}

html {
  width: 100%;
  min-height: 100vh;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;

  color: var(--bs-text-color);
  background: var(--bs-bgr-color);
  font-size: var(--bs-font-size);
  line-height: var(--bs-line-height);
  font-weight: var(--bs-font-weight);
  font-family: var(--bs-font-family, --bs-font-sans-serif);
}

* {
  margin: 0;
  padding: 0;

  border: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  user-select: none;
}

/* ==== COMMON ==== */

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: var(--line-clamp, 2);
  -webkit-line-clamp: var(--line-clamp, 2);
  overflow: hidden;
}

section {
  padding-block: calc(var(--bs-gutter-y) * 2);
  scroll-margin-top: 100px;
}
h3.sub-title,
.heading,
.title {
  text-wrap: balance;
}
section h2.title {
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--bgr-color);
}

section .sub-title {
  color: var(--bgr-color);
  font-size: 1.8rem;
  font-weight: 600;
}

.section .desc,
section .desc {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66;
  color: var(--bs-text-color);
}

footer .row,
section .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--row-gap, 20px);
}

footer .col,
section .col {
  width: 50%;
  flex: 1;
}

section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: var(--container-width);
  margin-inline: auto;
}

.btn-link,
.btn {
  display: inline-block;
  min-width: 9.8rem;
  padding: 1rem 1.8rem;
  text-align: center;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  vertical-align: middle;
  text-wrap: nowrap;
}

.btn {
  font-weight: 500;
  color: var(--btn-text-color);

  background: var(--primary-color);
  border: 0.1rem solid transparent;
  border-radius: 9999px;
}

.btn-link {
  position: relative;
  color: var(--btn-link-text-color);
}

.btn-link::after {
  content: "";
  position: absolute;
  left: 10%;
  bottom: 6px;
  width: 80%;
  height: 0.1em;
  background: currentColor;
  border-radius: 9999px;
}

.btn-link:hover::before,
.btn-link:hover::after {
  opacity: 0.8;
}

a,
[role="button"],
.btn-link,
.logo,
.btn {
  transition: opacity 0.25s linear, color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}
button,
.button,
.btn-link,
[role="button"] {
  user-select: none;
  cursor: pointer;
}

[role="button"]:hover,
.btn-link:hover,
.logo:hover,
.btn:hover {
  opacity: 0.8;
  cursor: pointer;
  color: currentColor;
}
