/* ===== header ===== */

#header {
  position: sticky;
  top: 0;
  padding-block: 26px;
  background: var(--bs-bgr-color);
  z-index: 9999;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.02), -4px 4px 12px 0px rgba(0, 0, 0, 0.02);
}

.header .list-item,
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .item {
  margin-left: 36px;
  transition: color 0.2s linear;
}

.header .item:hover .item-link {
  color: var(--title-text-color);
  font-weight: 600;
}

.header .sign-up {
  padding: 12px 28px;
  background: transparent;
  color: var(--title-text-color);
  border: 1px solid currentColor;
}

/* ===== hero ===== */

.hero .title {
  margin-bottom: 24px;
  color: var(--heading-text-color);
  font-family: "Sora";
  font-size: 6.6rem;
  font-weight: 800;
  line-height: 1.15;
  text-wrap: wrap;
}

.hero .desc {
  margin-bottom: 38px;
  /* Width 1169px */
}
.hero .row {
  --row-gap: 38px;
  align-items: stretch;
}
.hero .col-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 68px;
  border: 1px solid var(--bs-info);
  border-radius: 20px;
}

.hero .meet,
.hero .list-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  width: 18px;
  height: 18px;
  border-radius: 999px;
  color: var(--primary-color);
  background: var(--white-color);
}

.hero .col-left {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.hero .left-img {
  margin-bottom: 58px;
  width: 388px;
  height: 488px;
  border-radius: 16px;
  overflow: hidden;
}

.hero .right-img {
  margin-left: -30px;
  width: 182px;
  height: 276px;
  border-radius: 16px;
  overflow: hidden;
}

.hero .circle-svg {
  position: absolute;
  left: -8%;
  bottom: 0;
  width: 232px;
  height: 232px;
  z-index: -1;
}

.hero .blinds {
  right: 136px;
  top: 0;
  left: unset;
  bottom: unset;
  width: 50px;
  height: 95px;
}

.hero .list-card {
  position: absolute;
  left: 45%;
  bottom: -36px;
  translate: -50% 0;

  width: 250px;
  border-radius: 10px;
  background: var(--white-color);
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero .card {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  border-radius: 10px;
  padding: 20px;
  transition: box-shadow 0.2s linear;
}

.hero .card:hover {
  box-shadow: 16px 14px 68px 0px rgba(207, 174, 132, 0.325);
  cursor: pointer;
}

.hero .card .col-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
}

.hero .card .btn-link {
  font-size: 1.4rem;
  padding: 0;
}

.hero .card .btn-link::after {
  border-radius: 10px;
  opacity: 0.1;
  background: var(--bgr-color);
  bottom: -13px;
  width: 120%;
  height: 5px;
}

/* ==== about ==== */

.about .row {
  align-items: normal;
  --row-gap: 108px;
}

.about .col-left {
  padding-right: 10px;
}

.about .col-right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .title {
  text-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 24px;
}

.about .list-service {
  color: var(--neutral-text-color);
  font-size: 1.8rem;
  font-weight: 500;
}

.about .service,
.about .service label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.about .service {
  gap: 60px;
  margin-bottom: 22px;
  margin-top: 50px;
}

.about .service-check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  color: var(--checked-color, var(--primary-color));
  background: var(--checked-bgr, var(--white-color));
  border-radius: 4px;
  border: 1px solid var(--primary-color);
}

.about .service input {
  display: none;
}

.about .service input:checked + .service-check {
  --checked-bgr: var(--primary-color);
  --checked-color: var(--white-color);
}

.about .content {
  position: relative;
  position: absolute;
  top: 100px;
  left: 0;
  padding: 31px 26px;
  width: 136px;
  height: 156px;
  border-radius: 10px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px 0px rgba(85, 241, 255, 0.26);
  z-index: 9;
}

.about .img-left {
  position: absolute;
  top: -22px;
  right: -4px;
  width: 34.935px;
  height: 37.623px;
}

.about .count {
  color: var(--white-color);
  text-align: center;
  font-family: "Sora";
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1;
}

.about .desc-count {
  margin-top: 14px;
  color: #c6f4f9;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.42;
}

.about .img-right {
  position: absolute;
  right: -50px;
  bottom: 0;
}

.about .img-right img {
  position: relative;
  bottom: -15px;
}

.about .bgr-img {
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 422px;
  height: 305px;
  border-radius: 16px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  z-index: -1;
}

/* ==== services ==== */

.services .col-left {
  position: relative;
}

.services .col-img {
  width: 458px;
  height: 500px;
  border-radius: 18px;
  overflow: hidden;
}

.services .lightning {
  position: absolute;
  right: 74px;
  top: -25px;
}

.services .circle-icon {
  position: absolute;
  right: 70px;
  bottom: -55px;
}

.services .desc:nth-child(2) {
  margin-top: 24px;
  margin-bottom: 52px;
}

.services .group-item {
  display: flex;
  align-items: center;
  gap: 50px;
}

.services .item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  cursor: pointer;
}

.services .item::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  border-radius: 6px;
  background: var(--primary-color);
  transition: width 0.35s linear;
}

.services .item:hover::after {
  left: 0;
  width: 100%;
}

.services .sub-title {
  margin-bottom: 2px;
  margin-left: 6px;
}

.services .view-more {
  margin-top: 16px;
  color: var(--primary-color);
  padding-left: 0;
}

.services .view-more::after {
  left: 2%;
  bottom: 10px;
  width: 70%;
  height: 1px;
}

/* ==== reviewa ==== */

#info {
  background: var(--bgr-second-color);
}

.reviewa {
  text-align: center;
}

.reviewa .title {
  margin-top: 15px;
  margin-bottom: 71px;
  font-family: "Sora";
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.19;
}

.reviewa .row {
  align-items: normal;
  gap: 64px;
}

.reviewa .col-left,
.reviewa .col-right {
  flex: 1;
}

.reviewa .card {
  text-align: start;
  padding: 30px 10px 10px 28px;
  margin-bottom: 24px;
  border-radius: 10px;
  border: 1px solid rgba(255, 188, 122, 0.2);
  background: var(--white-color);
  transition: box-shadow 0.3s linear;

  /*  */
  border-right-color: rgba(239, 176, 113, 0.7);
  border-bottom-color: rgba(239, 176, 113, 0.75);
  background: rgba(255, 188, 122, 0.38);
  box-shadow: inset -6px -6px 22px 0px rgba(255, 188, 122, 0.6), inset 6px 6px 22px 0px var(--white-color);
}

.reviewa .card:hover {
  box-shadow: inset -6px -6px 22px 0px rgba(255, 188, 122, 0.6), inset 6px 6px 22px 0px var(--white-color),
    16px 18px 52px 0px rgba(0, 0, 0, 0.21), -16px 16px 52px 0px rgba(0, 0, 0, 0.02);
}

.reviewa .sub-title {
  margin-bottom: 18px;
  font-family: "Sora";
  font-size: 2.2rem;
  font-weight: 600;
  padding-left: 12px;
  line-height: 1;
  border-left: 2px solid var(--primary-color);
}

.reviewa .list-card .desc {
  color: var(--second-text-color);
  font-size: 1.4rem;
  line-height: 1.71;
  text-wrap: wrap;
}

.reviewa .read-more {
  display: inline-block;
  color: #34396a;
  font-family: "Sora";
  font-size: 1.2rem;
  padding: 10px 24px 8px 0;
}

.reviewa .read-more svg {
  margin-left: 6px;
}

.reviewa .col-between {
  position: relative;
  padding: 18px;
  width: 447px;
  border-radius: 16px;
}

.reviewa .col-between img {
  position: relative;
  border-radius: 16px;
  z-index: 2;
  transition: translate 0.2s linear;
}

.reviewa .col-between:hover img {
  translate: 0 -40px;
}

.reviewa .col-between .i_❤_f8,
.reviewa .col-between::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 16px;
}

.reviewa .col-between::after {
  content: "";
  height: 65%;
  background: #5bd6e2;
}

.reviewa .col-between .i_❤_f8 {
  z-index: 1;
  padding: 8px;
  font-size: 40px;
  font-weight: 900;
  color: rgb(255, 26, 26);
}

.contacts .btn,
.reviewa .btn {
  margin-top: 45px;
  padding: 15px 40px;
  background: transparent;
  color: var(--primary-color);
  font-weight: 500;
  border: 1px solid var(--primary-color);
}

.btn.sign-up:hover,
.contacts .btn:hover,
.reviewa .btn:hover {
  color: var(--white-color);
  border-color: var(--primary-color);
  background: var(--primary-color);
}

/* ==== contacts ==== */

.contacts {
  text-align: center;
}

.contacts .desc {
  color: var(--bs-text-color);
  font-family: "Sora";
  font-weight: 600;
}

.contacts .title {
  color: var(--title-text-color);
  font-family: "Sora";
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.19;
}

.contacts .list-card {
  display: flex;
  align-items: center;
  gap: 35px;
}

.contacts .card {
  flex: 1;
  cursor: pointer;
}

.contacts .card-img {
  position: relative;
  width: 251px;
  height: 290px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.contacts .card-img::after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 92%;
  height: 88%;
  border-radius: 50% / 36%;
  background: var(--bgr-image);
  z-index: -1;
  transition: background 0.25s linear;
}
.contacts .card-img img {
  border-radius: 0 0 50% 50%;
  transform-origin: bottom;
  transition: border-radius 0.25s linear, transform 0.3s linear, -webkit-box-reflect 0.25s linear;
}
.contacts .card:hover img {
  border-radius: 0;
  transform: scale(1.15);
  -webkit-box-reflect: below 4px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.contacts .card:hover .card-img > svg {
  display: none;
}

.contacts .card:hover .card-img::after {
  background: transparent;
}

.contacts .card-img svg {
  position: absolute;
  top: 36px;
  left: 50%;
  transform: translateX(-50%);
}

.contacts .card:nth-child(2n + 1) svg {
  position: absolute;
  bottom: 0;
  top: unset;
}

.contacts .specialized {
  color: var(--second-text-color);
  font-size: 1.4rem;
  margin-bottom: 14px;
}

/* ==== choice ==== */

#choice {
  background: var(--bgr-second-color);
}

.choice {
  text-align: center;
}

.choice .title {
  margin-bottom: 24px;
  font-family: "Sora";
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.19;
}

.choice .btn-group {
  position: relative;
  display: inline-flex;
  margin-top: 38px;
  margin-bottom: 56px;
  border: 1px solid var(--primary-color);
  border-radius: 9999px;
}

.choice .btn-group .btn {
  padding: 16px 41px;
  font-size: 1.6rem;
  background: transparent;
  color: var(--primary-color);
}

.choice .btn-group::after {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  content: attr(title);
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  color: var(--white-color);
  font-weight: 700;
  font-size: 18px;
  border-radius: 9999px;
  transform: translateX(0);
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: transform 0.3s linear;
}
.choice .btn-group:has(.btn:first-child.active)::after {
  transform: translateX(-100%);
}

.choice .btn-group svg {
  position: absolute;
  top: -12px;
  right: -102px;
}

.choice .list-card {
  display: flex;
  align-items: center;
  gap: 44px;
}

.choice .card {
  flex: 1;
  padding: 30px 28px;
  text-align-last: left;
  border-radius: 20px;
  background: var(--white-color);
}

.choice .card > span {
  display: block;
  padding-block: 4px;
}

.choice .package {
  color: var(--primary-color);
  font-size: 1.2rem;
}

.choice .package {
  color: var(--primary-color);
  font-size: 1.2rem;
}

.choice .price {
  margin-bottom: 6px;
  color: var(--title-text-color);
  font-family: "Sora";
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 1.6;
}

.choice .purchase-now {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 24px;
  background: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.choice .card:nth-child(2) .purchase-now,
.choice .purchase-now:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.choice .purchase-now:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.choice .item-check {
  display: flex;
  align-items: center;
}

.choice .item {
  padding-block: 6px;
}

.choice .item-check .check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.choice .item-check:has(input:checked) {
  color: var(--primary-color);
}

/* ==== review ==== */

.carousel {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  background: #97d6ee12;
  /* background: #c7dfe9; */
}

.carousel .sliders {
  display: flex;
  align-items: center;
  width: max-content;
}

.carousel .slider-item {
  display: flex;
  align-items: center;
  flex: 1;
  flex-shrink: 0;
  gap: 50px;
  padding: 20px 40px;
}

.carousel .slider-img {
  width: 30%;
}

.carousel .slider-img .images {
  position: relative;
  padding-top: 152%;
}

.carousel .slider-img .image-bgr {
  position: absolute;
  inset: 0;
  padding: 12% 10%;
}

.carousel .image-bgr::before {
  content: "";
  position: absolute;
  bottom: 7.5%;
  left: 7%;
  width: 86%;
  height: 70%;
  background: var(--bgr-image, rgb(137, 43, 226));
  border-radius: 292px / 220px;
}

.carousel .slider-img img {
  position: relative;
  border-radius: 0 0 292px 292px / 0 0 220px 220px;
  z-index: 1;
}

.carousel .slider-content {
  width: 70%;
  flex-grow: 0;
  padding: 18px;
  padding-right: 40px;
}

.carousel .slider-title {
  font-family: "Sora";
  font-weight: 700;
}

.carousel .slider-desc {
  color: #9192af;
  font-size: 1.8rem;
  margin-top: 24px;
  margin-bottom: 34px;
  padding-right: 20px;
  text-wrap: wrap;
}

.carousel .member {
  display: flex;
  align-items: center;
  color: var(--second-text-color);
  font-family: "Sora";
  font-size: 1.8rem;
  font-weight: 600;
}

.carousel .member::before {
  content: "";
  width: 20px;
  height: 2px;
  background: var(--primary-color);
  margin-right: 8px;
  border-radius: 9px;
}

.carousel .slider-dot {
  text-align: center;
  margin-top: 16px;
}

.carousel .dot {
  display: inline-block;
  position: relative;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 10px;
}
.carousel .dot::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  translate: 0 -50%;
  width: 6px;
  height: 6px;
  border-radius: 999px;
  border: 1px solid var(--primary-color);
  transition: width 0.3s linear;
}
.carousel .dot.active::before {
  width: 28px;
  background: var(--primary-color);
}

.carousel .action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding-inline: 20px;
  z-index: 999;
  opacity: 0.2;
  transition: opacity 0.3s ease-in-out;
}

.carousel:hover .action {
  opacity: 0.7;
}

.carousel .icon-ctrl {
  width: 42px;
  height: 42px;
  padding: 8px;
  border-radius: 9999px;
  background: #ffebee;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: background 0.25s linear, color 0.25s linear;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.12), -4px 4px 12px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.carousel .icon-ctrl:hover {
  background: var(--primary-color);
  color: var(--white-color);
  opacity: 0.8;
}

.carousel .btn-prev svg {
  transform: rotate(180deg);
}

/* ==== blog ==== */

.blog-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog .details {
  width: 38%;
}

.blog .view-blog {
  margin-block: 24px 54px;
  padding: 15px 35px;
  background: transparent;
  color: var(--primary-color);
  border: 1px solid currentColor;
}

.blog .view-blog:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.blog .list-card {
  display: flex;
  align-items: center;
  gap: 48px;
}

.blog .card {
  flex: 1;
}
.blog .card-top {
  border-radius: 24px;
  background: var(--card-bgr, #90ccff);
}
.blog .date {
  display: inline-block;
  padding: 24px 36px;
  color: var(--white-color);
  font-family: "Sora";
  font-size: 1.4rem;
}

.blog .card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 36px;
  margin-bottom: 26px;
  height: 296px;
}

.blog .card .desc {
  margin-top: 16px;
  color: var(--second-text-color);
  font-size: 1.4rem;
  line-height: 1.7;
}

/* ==== footer ==== */

.footer {
  position: relative;
  height: max-content;
}

.footer .container {
  position: relative;
  z-index: 3;
}

.footer .row {
  align-items: normal;
}

.footer .col-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  background: #fff6ed;
}

.footer .enter-email {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 268px;
  height: 46px;
  margin-top: 40px;
  margin-bottom: 68px;
  border-radius: 23px;
  border: 1px solid rgba(255, 91, 46, 0.25);
  background: var(--white-color);
}

.footer input {
  padding-left: 22px;
}

.footer .col-btn {
  width: 42px;
  height: 42px;
  padding: 8px;
  border-radius: 9999px;
  background: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: background 0.25s linear, color 0.25s linear;
}

.footer .col-btn:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.footer .follow {
  display: inline-block;
  margin-bottom: 10px;
  color: var(--btn-link-text-color);
  font-family: "Sora";
  font-size: 1.8rem;
  font-weight: 600;
}

.footer .list-social {
  display: flex;
  align-items: center;
}

.footer .icon-social {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
}

.footer .icon-social + .icon-social {
  margin-left: 10px;
}

.footer .icon-social > svg,
.footer .icon-social > svg .icon-fill {
  transition: color 0.3s linear, fill 0.3s linear;
}
.footer .icon-social:hover > svg,
.footer .icon-social:hover > svg .icon-fill {
  color: var(--primary-color);
  fill: var(--white-color);
  cursor: pointer;
}

.footer .col-right {
  width: 60%;
  padding: 16px;
}

.footer .list-menu {
  padding: 16px 16px 16px 65px;
}

.footer .menus {
  display: flex;
  gap: 10px;
  padding-block: 32px;
  padding-inline: 35px 16px;
}

.footer .menu {
  flex: 1;
}

.footer .menu-title {
  margin-bottom: 14px;
  color: var(--title-text-color);
  font-family: "Sora";
  font-size: 1.8rem;
  font-weight: 600;
}

.footer .copy-right {
  display: inline-block;
  color: var(--second-text-color);
  font-size: 1.2rem;
  line-height: 1.16;
  opacity: 0.5;
  margin-bottom: 30px;
  padding: 10px 50px 10px 0;
  transition: opacity 0.15s linear;
}
.footer .copy-right:hover {
  opacity: 1;
}
.footer .footer-bgr {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.footer .bgr-left {
  width: 30%;
  height: 100%;
  background: #fff6ed;
}

.footer .item {
  color: var(--second-text-color);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2;
}
